<p id="notice"><%= notice %></p>

<h1>Tweets</h1>
  

  
    <% @tweets.each_slice(2) do |tweetx| %>
    <div class="card-deck">
      <% tweetx.each do |tweet| %>
      <div class="card border-info mb-3" style="max-width: 18rem;">
        <div class="card-header">tweet</div> 
        <div class="card-body text-info">     
        <h5 class="card-title"><%= tweet.title %></h5>
        <p class="card-text"><%= tweet.content %></p>
 
        <%= link_to 'Show', tweet, class:'btn btn1  ' %>
        <%= link_to 'Edit', edit_tweet_path(tweet), class:"btn btn-light" %>
        <%= link_to 'Destroy', tweet, method: :delete, data: { confirm: 'Are you sure?' },  class:"btn btn-danger" %>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
        </div>
    <% end %>
      </div>
      <% end %>
  


<br>
<div class="tweetbutton ntuit">
<%= link_to 'New Tweet', new_tweet_path, class:"btn btn-warning" %>
</div>
